
<% unless  user_signed_in? %>
	<%= link_to 'Ingresar', new_user_session_path %>
	<%= link_to 'Registrar', new_user_registration_path %>
<%else%>
	<p><%= link_to current_user.name, edit_user_registration_path %></p>
	<%= link_to 'Salir', destroy_user_session_path, method: :delete, data: { confirm: 'Seguro que deseas salir?'} %>
<% end %>